# Ipv4 host address [usually 0.0.0.0]
host=

# backend port [ex. 3001]
port=

# debug mode [true/false]
debug=

# postgres database connection URL [postgres://[login]:[password]@[host]/[database]]
database_url=

# redis connection URL [redis://[host]]
redis_url=
